<div class="top-menu">

    <ul class="top">

        <li class="left">
            <span spike-translation="menu"></span>
            <span id="currentLang" spike-translation="language_en"></span>
        </li>

        <li class="dropdown-toggle">
            <button type="button" class="btn btn-default" id="toggleDropdown">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
        </li>


    </ul>

    <ul class="dropdown clearfix" id="dropdown" style="display: none;">

        <li id="home"><a href="#/" spike-translation="menu_home"></a></li>
        <li id="posts"><a href="#/posts" spike-translation="menu_posts"></a></li>
        <li id="about"><a href="#/about" spike-translation="menu_about"></a></li>
        <li class="language">
            <button type="button" class="btn btn-default" id="changeLangToEn" spike-translation="language_en"></button>
            <button type="button" class="btn btn-default" id="changeLangToPl" spike-translation="language_pl"></button>
        </li>

    </ul>

</div>